<template>
  <section>
    <section>
      <h1>Concurrency</h1>
    </section>

    <section>
      <h3>Golang Concurrency Primitives</h3>
      <ul>
        <li>Goroutine</li>
        <li>Channel</li>
        <li>WaitGroup</li>
      </ul>

      <aside class="notes">
        <p>Notes</p>
      </aside>

    </section>

    <section>
        <h3>Goroutines</h3>
        <ul>
          <li>
            A lightweight abstraction over threads.
          </li>
          <li>
            Very lightweight in terms of memory and overhead.
          </li>
          <li>
            The runtime is allocated a limited number of threads on which all the goroutines are multiplexed.
          <li>
            At any point of time, each thread will be executing one goroutine.
          </li>
          <li>
            If a goroutine is blocked, then it will be swapped out for another goroutine that will execute on that thread.
          </li>
        </ul>
    </section>

    <section>
      <h3>Goroutines</h3>
      <ul>
        <li>
          Goroutines do not require much memory - only 2kB of stack space. They grow by allocating and freeing heap storage as required.
        </li>
        <li>
          Low overhead as goroutines are created and destroyed by the runtime rather than the OS.
        </li>
        <li>
          Fast context switches, only 3 registers need to be saved/restored - Program Counter, Stack Pointer and DX. The cost is much lower compared to OS threads.
        </li>
        <li>
          Only runnable goroutines are considered during switch, blocked ones aren't. It is not a waste of resources if most goroutines are blocked.
        </li>
      </ul>
    </section>

    <section>
      <h3>Goroutines - Examples</h3>
      <pre><code class="go">
        func DoSomething() {
            fmt.Println("doing something")
        }

        func main() {
            // blocking / sequential
            DoSomething()

            // non-blocking / asynchronous
            go DoSomething()

            // lots of goroutines
            for i := 0; i < 10000; i++ {
                go DoSomething()
            }
        }
      </code></pre>
      <p class="fragment fade-in">But what about communication?</p>
    </section>

    <section>
      <h3>Goroutines - Examples</h3>
      How do we share data?
      <pre><code class="go">
        func DoSomething() float64 {
            var result float64
            // some blocking operation
            // ...
            return result
        }

        func main() {
            // what happens to my return value? how do i get it?
            go DoSomething()
        }
      </code></pre>
    </section>

    <section>
      <h3>Channels</h3>
      <ul>
        <li>
          Channels provide a way for two goroutines to communicate with one another
        </li>
      </ul>

      <pre><code class="go">
        func DoSomething(c chan float64) {
            result := 3.14159265
            // write the result to the channel
            c <- result
        }

        func main() {
            // create a float64 channel
            c := make(chan float64)

            // pass channel to goroutine
            go DoSomething(c)

            // read the result from the channel
            result := <-c
        }
      </code></pre>
      <p class="fragment fade-in">How does everything stay synchronized?</p>
    </section>

    <section>
      <h3>Channels and Blocking</h3>
      Channels pass data sequentially and block on both reads and writes.
      <pre><code class="go">
        func PrintVal(c chan float64) {
            // block until a value can be read through the channel
            fmt.Println(<-c)
        }

        func main() {
            // create a float64 channel
            c := make(chan float64)
            // dispatch 10 goroutines
            for i := 0; i < 10; i++ {
              go PrintVal()
            }
            for i := 0; i < 10; i++ {
              // blocks until values can be read
              // values are read sequentially
              c <- i
            }
        }
      </code></pre>
    </section>

    <section>
      <h3>Types of Channels</h3>
      <ul>
        <li>
          Read only channels
          <pre><code class="go"><-chan float64</code></pre>
        </li>
        <li>
          Write only channels
          <pre><code class="go">chan<- float64</code></pre>
        </li>
        <li>
          Bidirectional channels
          <pre><code class="go">chan float64</code></pre>
        </li>
        <li>
          Unbuffered channels
          <pre><code class="go">make(chan float64)</code></pre>
        </li>
        <li>
          Buffered channels
          <pre><code class="go">make(chan float64, 4)</code></pre>
        </li>
      </ul>
    </section>

    <section>
      <h3>Buffered Channels</h3>
      <ul>
        <li>
          Buffered channels act in a similar way to a semaphore.
        </li>
      </ul>

      <pre><code class="go">
        func EatAtRestaurant(c chan bool) {
            time.Sleep(time.Duration(rand.Float32() * 5) * time.Second)
            fmt.Println("mmmMMMmmmm delicious")
            <-capacity
        }

        func main() {
            capacity := make(chan bool, 100)
            for i := 0; i < 500; i++ {
              capacity <- true
              go EatAtRestaurant(capacity)
            }
        }
      </code></pre>
      <p class="fragment fade-in">But how do we know when everything is done?</p>
    </section>

    <section>
      <h3>WaitGroup</h3>
      <ul>
        <li>
          Used to wait for a collection of asynchronous tasks to complete.
        </li>
        <li>
          Increment the WaitGroup when a task starts, decrement when it finishes.
        </li>
        <li>
          Block on `Wait()` until all tasks complete.
        </li>
      </ul>
      <pre><code class="go">
        func main() {
            wg := sync.WaitGroup{}      // create the waitgroup
            for i := 0; i < 256; i++ {
              wg.Add(1)                 // increment waitgroup
              go func() { wg.Done() }() // decrement waitgroup
            }
            wg.Wait() // block until goroutine finishes
        }
      </code></pre>
    </section>

    <section>
      <h3>WaitGroup - Examples</h3>

      <pre><code class="go">
        results := make([]float32, 256)

        func GenerateNumber(index int, wg *sync.WaitGroup) {
            time.Duration(rand.Float32() * 5) * time.Second)
            // add the result
            results[index] = rand.Float32()
            // decrement waitgroup
            wg.Done()
        }

        func main() {
            wg := sync.WaitGroup{}
            for i := 0; i < 256; i++ {
              // increment waitgroup
              wg.Add(1)
              go GenerateNumber(i, wg)
            }
            // wait until finished
            wg.Wait()
        }
      </code></pre>
    </section>

    <!--
    <section>
      <h3>Atomic Operations</h3>
      <ul>
        <li>
          Standard package to provide low-level atomic memory primitives.
        </li>
        <li>
          Functions include atomic add, load, swap, and compare and swap.
        </li>
        <li>
          Except for special, low-level applications, synchronization is better done with channels or the facilities of the sync package
        </li>
      </ul>
      <pre><code class="go">
        var count uint64 = 0
        for i := 0; i < 100000; i++ {
            go func() {
                atomic.AddUint64(&count, 1)
            }()
        }
        time.Sleep(time.Second)
        fmt.Printf("reached %d in 1 second", atomic.LoadUint64(&count))
      </code></pre>
    </section>
    -->

    <section>
      <h3>Concurrency</h3>
      "Share memory by communicating; don't communicate by sharing memory."
    </section>

  </section>
</template>
