<template>
  <section>
    <section>
      <h1>Criticisms</h1>
    </section>

    <section>
      <h3>"Golang: 100% Perfect, 90% of the time."</h3>
    </section>

    <section>
      <h3>Lots of Criticism</h3>
      <img style="width:100%" src="img/complaint-cloud.png">
      https://github.com/ksimka/go-is-not-good
    </section>

    <section>
      <h3>Valid Complaints (IMHO)</h3>
      <div class="left">
        <ul>
          <li>GOPATH is a mess</li>
          <li>Lack of basic data structures</li>
          <li>Nil interfaces are not entirely nil</li>
          <li>Hard to extend</li>
          <li>No generics</li>
          <li>No overloading</li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li>No user-type iteration</li>
          <li>Not-so-obvious slices behaviour</li>
          <li>Awkward std math lib</li>
          <li>Project layout is bad</li>
          <li>Unwieldy to code new collections</li>
          <li>No decent IDE</li>
        </ul>
      </div>
    </section>

    <section>
      <h3>No Generics</h3>
      <ul>
        <li>Golang has no support for generics</li>
        <li>"Generics may well be added at some point. We don't feel an urgency for them, although we understand some programmers do."</li>
      </ul>
    </section>

    <section>
      <h3>No Generics</h3>
      <ul>
        <li>Interfaces provide similar functionality</li>
        <li>Lack the syntactic sugar, run-time performance, and compile-time safety of generics</li>
      </ul>
      <p>Example "generic" go code:</p>
      <pre><code class="go">
        func DoSomething(arg interface{}) {
            switch t := arg.(type) {
                case float64:
                    fmt.Printf("is a float64 %f\n", t)
                case int32:
                    fmt.Printf("is an int32 %d\n", t)
                case string:
                    fmt.Printf("is a string %s\n", t)
                case default:
                    fmt.Println("is not recognized")
            }
        }
      </code></pre>
    </section>

    <section>
      <h3>No Overloading</h3>
      <ul>
        <li>Golang does not support overloading either</li>
      </ul>
      <img style="width:40%" src="img/overloading.jpg">
    </section>

    <section>
      <h3>No Overloading</h3>
      <ul>
        <li>No generics + no overloading can result in:</li>
        <ul>
          <li>Bloated APIs</li>
          <li>Awkward APIs</li>
          <li>Lots of redundant code due to copy and pasting</li>
          <li>Inefficient code due to reflection and type assertions</li>
        </ul>
      </ul>
    </section>

    <section>
      <h3>Standard Math Package</h3>
      <ul>
        <li>As golang lacks overloading and generics, the <code>math</code> package only deals with float64</li>
        <li>Compounded with the strict static typing, can make numerical code <b>painful</b></li>
      </ul>
      <pre><code class="go">
        func myFunc(val int64) {
            rounded := math.Round(10.345345) // returns float64
            return int64(10) + val + int64(rounded)
        }
      </code></pre>
    </section>

    <section>
      <h3>Interfaces and Attributes</h3>
      <ul>
        <li>Golang interfaces only support methods</li>
        <li>Tedius Setter / Getter methods that could be fixed with attributes</li>
      <ul>
      <pre><code class="go">
        type Shape interface{
            Area() float64
            Circumference() float64
            SetPoints([]Vec2)
            GetPoints() []Vec2
        }

        type Shape interface{
            Area() float64
            Circumference() float64
            Points []Vec2
        }
      </code></pre>
    </section>

    <section>
      <h3>Typed Interfaces Are Never Nil</h3>
      <ul>
        <li>Interface internally has two fields: type, value. Interface is equal to nil, only if both of these fields are nil.</li>
      <ul>
      <pre><code class="go">
        func IsNil(arg interface{}) {
            if arg == nil {
                fmt.Println("is nil")
            } else {
                fmt.Println("is not nil")
            }
        }

        func main() {
            var flt *float64
            var str *string
            var i interface{}

            IsNil(flt)    // is not nil
            IsNil(str)    // is not nil
            IsNil(i)      // is nil
            IsNil(nil)    // is nil
        }
      </code></pre>
    </section>

    <section>
      <h3>Error Checking</h3>
      <ul>
        <li>Lots and lots of tedious error checking</li>
        <li>Personally I like the explicit nature of it</li>
      </ul>
      <pre><code class="go">
        func DoSomething() error {
            a, err := stepOne()
            if err != nil {
                return err
            }
            b, err := stepTwo(a)
            if err != nil {
                return err
            }
            c, err := stepThree(b)
            if err != nil {
              return err
            }
            return stepFour(c)
        }
      </code></pre>
    </section>

    <section>
      <h3>Handling Specific Errors</h3>
      <ul>
        <li>If the package exports the error, you can check it by type.</li>
        <li>If it doesn't, use a string comparison, which is brittle.</li>
      </ul>
      <pre><code class="go">
            switch e := err.(type) {
                case lib.ErrThisType:
                    fmt.Println("Do this")
                case lib.ErrThatType:
                    fmt.Println("Do that")
            }

            // vs

            if err.Error() == "this specific error string" {
                fmt.Println("Do this")
            } else if err.Error() == "this other error string" {
                fmt.Printn("Do that")
            }
      </code></pre>
    </section>

  </section>

</template>
