<template>
  <section>
    <section>
      <h1>Deployment</h1>
    </section>

    <section>
      <h2>Docker loves the Gopher</h2>
      <img src="img/docker-loves-the-gopher.jpg" alt="Docker loves the Gopher">
      <a class="credit" href="https://twitter.com/docker/status/698549801152024577" target="_blank">Image via @docker on Twitter</a>
    </section>

    <section>
      <h2>Dockerfiles from scratch</h2>
      <pre><code>
        FROM scratch

        ADD ./bin/main /

        ENTRYPOINT ["/main"]

        EXPOSE 4200
      </code></pre>
    </section>

    <section>
      <h2>Tiny Images</h2>
      <pre><code>
        REPOSITORY      TAG         CREATED            SIZE
        echo            latest      2 minutes ago      5.647 MB
      </code></pre>
    </section>
  </section>
</template>
