<template>
  <section>
    <section>
      <h1>Intro</h1>
    </section>

    <section>
      <h2>Go Just Turned 7</h2>
      <img src="img/birthday.png" alt="Happy Birthday, Go!">
      <p>Version 1 was released in March, 2012</p>
      <a class="credit" href="https://twitter.com/ashleymcnamara/status/796739630586626052" target="_blank">Image via @ashleymcnamara on Twitter</a>
    </section>

    <section>
      <h2>The Creators</h2>
      <div>
        <img src="img/creators.png" alt="The Creators">
      </div>
      <div class="flex creators fragment fade-in">
        <div class="">Robert<br>Griesemer</div>
        <div class="">Rob<br>Pike</div>
        <div class="">Ken<br>Thompson<span class="fragment fade-in">!</span></div>
      </div>

      <aside class="notes">
        <ul>
          <li>Unix</li>
          <li>B</li>
          <li>Regular Expressions</li>
          <li>UTF-8</li>
        </ul>
      </aside>
    </section>

    <section>
      <h2>How I Picture Them</h2>
      <img src="img/creators-revealed.png" alt="The Creators Revealed">
    </section>

    <section>
      <h2>Motivation</h2>
    </section>

    <section>
      <h2>Go is Easy to Learn</h2>
      <img src="img/neo.jpg" alt="I know Golang">
    </section>
  </section>
</template>
