<template>
  <section>
    <section>
      <h1>Intro</h1>
    </section>

    <section>
      <h2>Go Just Turned 7</h2>
      <img src="img/birthday.png" alt="Happy Birthday, Go!">
      <a class="credit" href="https://twitter.com/ashleymcnamara/status/796739630586626052" target="_blank">Image via @ashleymcnamara on Twitter</a>
    </section>

    <section>
      <h2>The Creators</h2>
      <div>
        <img src="img/creators.png" alt="The Creators">
      </div>
      <div class="flex creators">
        <div class="fragment fade-in">Robert<br>Griesemer</div>
        <div class="fragment fade-in">Rob<br>Pike</div>
        <div class="fragment fade-in">Ken<br>Thompson</div>
      </div>

      <aside class="notes">
        <ul>
          <li>Unix</li>
          <li>B</li>
          <li>Regular Expressions</li>
          <li>UTF-8</li>
        </ul>
      </aside>
    </section>

    <section>
      <h2>How I Picture Them</h2>
      <img src="img/creators-revealed.png" alt="The Creators Revealed">
    </section>
  </section>
</template>
