<template>
  <section>
    <section>
      <h1>Performance</h1>
    </section>

    <section>
      <h3>Go is Fast</h3>
      <img style="width:50%" src="img/go-fast.png">
    </section>

    <section>
      <h3>Go is Lightweight</h3>
      <img style="width:50%" src="img/go-memory.png">
    </section>

    <section>
      <h3>Go has room for improvement</h3>
      <img style="width:50%" src="img/go-slow.png">
    </section>

    <section>
      <h3>Upcoming GC Improvements</h3>
      <ul>
        <li>Garbage collector has been a focus of improvement.</li>
        <li>Improvement have been quite substantial over the past couple years.</li>
        <li>August 2015: Go 1.5’s big news of 10 milliseconds or less GC pauses.</li>
        <li>November 2016: Go 1.8's big news of 100 microsecond or less GC pauses.</li>
      </ul>
    </section>

  </section>
</template>
