<template>
  <section>
    <section>
      <h1>Standard Library</h1>
    </section>

    <section>
      <h2>Go loves JSON</h2>
      <img src="img/jason-go.jpg" alt="Jason loves Go">
    </section>

    <section>
      <pre><code class="go">
        import "encoding/json"

        type Geo struct {
          Lat float64 `json:"lat"`
          Lon float64 `json:"lon"`
        }
        type User struct {
          ID       int    `json:"id"`
          FullName string `json:"full_name"`
          Password string `json:"-"`
          Location *Geo    `json:"location,omitempty"`
        }

        u := User{123, "Party Parrot", "woot woot", nil}
        output, err := json.Marshal(u)
        if err != nil {
          // Handle the error and exit
        }
        fmt.Println(string(output))
        // {"id":123,"full_name":"Party Parrot"}
      </code></pre>
    </section>

    <section>
      <h2>Go loves the Web</h2>
      <img src="img/information-superhighway.jpeg" alt="The Web loves Go">
    </section>

    <section>
      <pre><code class="go">
        package main

        import (
          "fmt"
          "io/ioutil"
          "net/http"
        )

        func echoHandler(w http.ResponseWriter, r *http.Request) {
          body, err := ioutil.ReadAll(r.Body)
          defer r.Body.Close()
          if err != nil {
            w.WriteHeader(http.StatusInternalServerError)
            fmt.Fprint(w, "Uhoh!")
            return
          }
          fmt.Fprint(w, string(body))
        }

        func main() {
          http.HandleFunc("/", echoHandler)
          http.ListenAndServe(":4200", nil)
        }
      </code></pre>
    </section>

    <section>
      <img src="img/neo.jpg" alt="I know Golang">
    </section>
  </section>
</template>
