<template>
  <section>
    <section>
      <h1>Tooling</h1>
    </section>

    <section>
      <h3>go fmt</h3>
      <ul>
        <li>
          `go fmt` is a tool that automatically formats Go source code.
        </li>
        <li>
          It does not accept any configuration.
        </li>
        <li>
          Codebases are easier to read as they all have a familiar formatting.
        </li>
        <li>
          No style debates, no butchered whitespace in commits, just run `go fmt` and forget about it.
        </li>
      </ul>
    </section>

    <section>
      <h3>go fmt</h3>
      <p>At first I was all</p>
      <img style="width:50%" src="img/gofmt-sad.jpg">
    </section>

    <section>
      <h3>go fmt</h3>
      <p>Then I was all</p>
      <img style="width:40%" src="img/gofmt-happy.gif">
    </section>

    <section>
      <h3>go vet</h3>
        <ul>
          <li>
            The compiler can only go so far.
          </li>
          <li>
            Lots of code that compiles can and should be written in a better way.
          </li>
          <li>
            <code>go vet</code> reports suspicious code or other problems in the code.
          </li>
        </ul>
        <img style="width:50%" src="img/govet-badcode.jpg">
    </section>

    <section>
      <h3>go vet</h3>
        <ul>
          <li>
            Useless assignments, unreachable code.
          </li>
          <li>
            Mistakes involving boolean operators.
          </li>
          <li>
            Locks that are erroneously passed by value.
          </li>
          <li>
            Incorrect uses of range loop variables in closures.
          </li>
          <li>
            Bit shifts equal to or longer than the variable's length.
          </li>
        </ul>
    </section>

    <section>
      <h3>golint </h3>
      <ul>
        <li>
          <code>golint</code> is concerned about coding style, naming conventions, and documentation format.
        </li>
        <li>
          <code>golint</code> is very opinionated and strict.
        </li>
      </ul>
      <img style="width:50%" src="img/golint-scold.jpg">
    </section>

    <section>
      <h3>go fmt + go vet + golint</h3>
      Code becomes so much easier to read, modify, and maintain.
      <img style="width:50%" src="img/powers-combined.png">
    </section>

    <section>
      <h3>go get</h3>
      <p>Downloading a dependency</p>
      <pre><code class="bash">
          go get github.com/someUser/someAwesomeGoLib
      </code></pre>
      <p class="fragment fade-in">But what about versioning conflicts?</p>
    </section>

    <section>
      <h3>vendoring</h3>
      <ul>
        <li>
          As of 1.6+ Golang supports vendoring dependencies inside of a repo.
        </li>
        <li>
          When building, the compiler will prioritize using a dependency found in the <code>vendor</code> directory.
        </li>
        <li>
          If it is not found in the vendor directory, it will check the <code>$GOPATH</code>.
        </li>
        <li>
          Currently there is no defacto vendoring tool.
        </li>
        <li>
          There have been developer surveys on existing vendoring tools, one should be standardized soon.
        </li>
      </ul>
    </section>

    <section>
      <h3>glide</h3>
      <ul>
        <li>
          glide is the golang vendor package management tool we've been using.
        </li>
        <li>
          glide uses a similar approach to <b>cargo</b> and <b>yarn</b> allowing for deterministic and reproducable builds.
        </li>
        <li>
          Top level dependencies are defined in the <code>glide.yaml</code> file.
        </li>
        <li>
          Transitive dependencies are automatically generated and locked in the <code>glide.lock</code> file.
        </li>
        <pre><code class="bash">
            go get github.com/Masterminds/glide
            cd ~/workspace/go/src/unchartedsoftware/package
            glide init
            glide install
        </code></pre>
      </ul>
    </section>

    <section>
      <h3>delve / debugging</h3>
      <img style="width:50%; background-color:#fff;" src="img/delve.png">
      <ul>
        <li>
          Delve provides a CLI for debugging.
        </li>
        <li>
          Delve decomposed into an HTTP client/server model for both remote debugging and to allow IDE integration.
        </li>
      </ul>
    </section>

    <section>
      <h3>delve - Atom Plugin</h3>
      <img style="width:50%" src="img/atom-delve.gif">
      <ul>
        <li>
          https://github.com/lloiser/go-debug
        </li>
      </ul>
    </section>

  </section>
</template>
